@import '../App.css';

.display {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 15vh auto;
  text-align: center;
  font-family: arial;
  height: 60vh;
  padding-top: 5vh;
  color: var(--text);
  background-color: var(--display-background);
}

.display > h3 {
  font-size: 18px;
}

.display > p {
  font-size: 10px;
}

.displayForm{
  display: block;
}
.displayInput{
  width: 60%;
}

.displayBtn{
  width: 60%;
  margin-top: 24vh;
}
